<h1>List All Friends</h1>


<!-- <%= form_tag users_path, method: :get, class: "form-inline my-2 my-lg-0" do %>
<%= text_field_tag :query, params[:query], class: 'form-control mr-sm-2 typeahead', id: "typeahead", placeholder: "search by name or email" %>
  <%= submit_tag 'Search', class: "btn btn-outline-success my-2 my-sm-0" %>
<% end %> -->


<%= form_tag users_path, method: :get, class: "form-inline my-2 my-lg-0 addFriend" do %>
<%= text_field_tag :query, params[:query], class: 'form-control mr-sm-2 typeahead', id: "typeahead", placeholder: "add friend by email" %>
<%= button_tag 'Add Friend', class: "btn btn-primary btn-outline-primary my-2 my-sm-0", id: "addFriendBtn" %>
<% end %>



<br>
<h3><%= @user.name%>'s Friends</h3>
<ul>
  <% for friendship in @user.friendships %>
  <li>
    <%= h link_to "#{friendship.friend.name}", user_path(friendship.friend) %>
    (<%= link_to "remove", friendship, :method => :delete %>)
  </li>
  <% end %>
</ul>


<h3>Users Who Have Befriended "<%=@user.name%>"</h3>
<ul>
  <% for befrinded in @user.inverse_friends %>
  <li><%= h link_to "#{befrinded.name}", user_path(befrinded) %></li>
  <% end %>
</ul>

<p>
  <%= link_to "Find Friends", users_path %>
</p>
