
 
 <h1>Show Order # <%= @order.id %></h1>
<br>
 	<%= link_to 'Home', root_url, :class => "new_link" %>

<p>
  <strong>Meal:</strong>
  <%= @order.meal %>
</p>

<p>
  <strong>Resturant name:</strong>
  <%= @order.resturant_name %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @order.user.name %>
</p>

<p>
	<strong>Menu:</strong>
	<%=link_to image_tag(@order.menu.url(:large)), @order.menu.url(:original), :popup=>['original_image', 'height=700,width=900'] , target: :_blank %>
</p>

<%= link_to 'Edit', edit_user_order_path(@user, @order) %> |
<%= link_to 'Back', user_orders_path %> 

