<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
<table>
<tbody>
  <tr>
    <td><%= f.label :email %></td>
    <td><%= f.email_field :email, autofocus: true, :class => "form-control" %></td>
  </tr>

  <tr>
    <td><%= f.label :password %></td>
    <td><%= f.password_field :password, autocomplete: "off", :class => "form-control"  %></td>
  </tr>

  <% if devise_mapping.rememberable? -%>
    <tr style="text-align: center;">
      <td colspan="2"><%= f.check_box :remember_me %> <%= f.label :remember_me %>
        
      </td>
    </tr>
  <% end -%>

  <tr style="text-align: center;">
    <td colspan="2"><%= f.submit "Log in", class: "btn btn-primary" %></td>
  </tr>
</tbody>
 </table> 
<% end %>

<br>

<%= render "devise/shared/links" %>
