
<p>
  <strong>Item:</strong>
  <%= @item.item_desc %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @item.amount %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @item.comment %>
</p>

<p>
  <strong>Order #</strong>
  <%= @item.order.id %>
</p>

<p>
  <strong>User:</strong>
  <%= @item.user.name %>
</p>

<%= link_to 'Edit', edit_user_order_item_path(@user,@order,@item) %> |
<%= link_to 'Back', user_order_items_path %>
